/* You can add global styles to this file, and also import other style files */

:root {
    --background: hsl(231, 15%, 18%);
    --foreground: hsl(60, 30%, 96%);
    --button: hsl(225, 27%, 51%);
    --box: hsl(231, 15%, 10%);
    --border: hsl(226, 13%, 34%);

    --cyan: hsl(191, 97%, 77%);
    --green: hsl(135, 94%, 65%);
    --orange: hsl(31, 100%, 71%);
    --pink: hsl(326, 100%, 74%);
    --purple: hsl(265, 89%, 78%);
    --red: hsl(0, 100%, 67%);
    --yellow: hsl(65, 92%, 76%);
}

body {
    font-family: "Nunito Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 40px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--foreground);
    background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 8px 0;
}

h1 {
    font-size: 1.5em;
    color: var(--purple);
}

div {
    margin: 8px;
}

input,
button {
    height: 40px;
    font-size: 32px;
}

button {
    cursor: pointer;
}

.button-row button:not(:last-child) {
    margin-right: 8px;
}

.content {
    display: flex;
    margin: 32px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

.example {
    h1 {
        color: var(--orange);
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
}

.card {
    all: unset;
    border-radius: 4px;
    border: 1px solid white;
    background-color: var(--button);
    height: 16px;
    width: 142Px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.card-container .card:not(:last-child) {
    margin-right: 0;
}

.card-container .card:not(.highlight-card) {
    cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.box {
    padding: 1rem;
    margin: 0;
    position: relative;
    width: 96%;
    border-radius: 6px;
    margin-top: 8px;
    background-color: var(--box)
}

.box-border {
    position: relative;
    border: solid;
    border-color: var(--border);
}